.modal {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  padding-top: 40px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  position: relative;
}

.closeContent {
  position: absolute;
  top: 10px;
  right: 20px;
}

.closeSign {
  position: absolute;
  visibility: hidden;
  bottom: -30px;
  left: -20px;
  padding: 3px;
  background-color: white;
  border: 1px solid silver;
}

.closeContent:hover > .closeSign {
  visibility: visible;
}

.buttonContent {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: relative;
  background-color: transparent;
  border: none;
}

.cross {
  width: 25px;
  height: 3px;
  background-color: silver;
  position: absolute;
}

.right {
  transform: rotate(45deg);
}

.left {
  transform: rotate(-45deg);
}
